<!DOCTYPE html>
<html>
    <head>
        <title>The Wall</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="/jquery/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </head>
    <body>
        <h1>CodingDojo Wall</h1>
        <form id="login">
            <h3>Login</h3>
            <label>Email</label>
            <input type="email" name="email" minlength="8">
            <label>Password</label>
            <input type="password" name="password" minlength="4">
            <input type="submit" value="Login">
        </form>
        <form id="register">
            <h3>Sign Up</h3>
            <label>First Name</label>
            <input type="text" name="first_name" minlength="2">
            <label>Last Name</label>
            <input type="text" name="last_name" minlength="2">
            <label>Email</label>
            <input type="email" name="email" minlength="8">
            <label>Password</label>
            <input type="password" name="password" minlength="4">
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" minlength="4">
            <input type="submit" value="Register">
        </form>
    </body>
</html>
