*{
    // outline: 1px solid red;
}

body{
    margin: auto;
    width: 600px;

    h1{
        text-align: center;
    }

    #main_container{
        form{
            margin: auto;
            text-align: center;

            input[type=submit]{
                margin-top: 10px;
            }

            textarea{
                display: block;
                width: 80%;
                margin: auto;
            }
        }

        section{
            p{
                margin: 0px;
                padding: 0px;

            }
            .message{
                padding: 10px;
            }

            .comments_group{

                width: 80%;
                margin-left: 100px;

                .comment_container{
                    margin-top: 10px;
                }

                form{

                    input[type=submit]{
                        margin-top: 10px;
                    }

                    textarea{
                        display: block;
                        width: 80%;
                    }
                }
            }
        }
    }
}